@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar .logo {
  width: 2.5em;
}
.navbar .nav-item {
  font-size: 16px;
  margin-left: 5px;
  padding: 0 5px;
  font-weight: 700;
  font-family: "Cinzel Decorative", cursive;
}
.navbar .nav-item:hover {
  outline: 2px solid #fff;
  border-radius: 10px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
}
.footer .icon {
  width: 40px;
  margin: 0 15px;
}
.footer .copyright {
  padding: 20px 0;
  border-top: 1px solid #fff;
  margin-bottom: 0;
  text-align: center;
}

.hero {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
}

.grid-container {
  gap: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  align-content: center;
  grid-template-areas: "area-6" "area-5" "area-4" "area-1" "area-3" "area-2";
}
.grid-container .grid-item .grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.grid-container .grid-item:first-child {
  grid-area: area-1;
}
.grid-container .grid-item:nth-child(2) {
  grid-area: area-2;
}
.grid-container .grid-item:nth-child(3) {
  grid-area: area-3;
}
.grid-container .grid-item:nth-child(4) {
  grid-area: area-4;
}
.grid-container .grid-item:nth-child(5) {
  grid-area: area-5;
}
.grid-container .grid-item:last-child {
  grid-area: area-6;
}

.bg-custom {
  background: linear-gradient(140deg, rgba(105, 0, 182, 0.7058823529) 0%, rgba(194, 29, 253, 0.6941176471) 40%, #f85783 100%);
}
.bg-custom .roster-image {
  width: 100%;
  height: 15em;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.container-card-text {
  height: 100%;
}

.image-contact {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}

.form {
  width: 100%;
}
.form .input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  padding: 5px;
  font-size: 16px;
}
.form .input::placeholder {
  color: #FFFFFF;
}
.form .input:focus {
  border-bottom: 2px solid #FFFFFF;
}
.form .input-text-area {
  display: block;
  width: 100%;
  background-color: transparent;
  outline: none;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
  resize: none;
  font-size: 16px;
  height: 200px;
}
.form .input-text-area::placeholder {
  color: #FFFFFF;
}
.form .input-text-area:focus {
  border: 2px solid #FFFFFF;
}
.form .input-submit {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 6px 0;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}
.form .input-submit:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.image-about-me {
  width: 100%;
  object-fit: cover;
}

.input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  padding: 5px;
  font-size: 16px;
}
.input::placeholder {
  color: #FFFFFF;
}
.input:focus {
  border-bottom: 2px solid #FFFFFF;
}

.input-submit {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 6px 0;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}
.input-submit:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "area-5 area-6 area-6" "area-5 area-1 area-2" "area-3 area-3 area-4";
  }
  .image-contact {
    width: 18em;
  }
  .form {
    width: 65%;
  }
  .input-submit {
    width: 20%;
  }
  .image-about-me {
    width: 20em;
  }
  .card-custom:hover {
    transform: translate(-30px, 0) scale(105%);
    transition: transform ease-in-out 0.3s;
  }
  .container-card-text {
    height: 16vh;
    overflow-y: auto;
  }
}
.title {
  font-family: "Noto Sans JP", sans-serif;
}

/*# sourceMappingURL=style.css.map */
