.teams {
  @include sizing(100%, 280px);
  @include flex(space-around, center, column);
  border-radius: 1em;
  background-color: $bg__cards;
  margin: 100px 0;

  &__bar {
    @include sizing(80%);
    border: 1px solid $roster__teams_colorBar;
  }

  &__btn {
    @include text($roster__text__color, 24px);
    border: 1px solid $roster__border__color;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: transparent;
    text-decoration: none;

    &:active {
      border-color: #ffffff66;
      color: #ffffff66;
    }
  }
}

.team__title {
  @include text($roster__text__color, 32px);
  padding: 80px 0 32px 0;
}

.section__team {
  display: grid;
  grid-template-columns: 1fr;

  .section__team__card {
    @include flex(flex-start, center, column);
    @include sizing(100%);
    min-height: 300px;
    margin-bottom: 32px;
    border-radius: 1em;
    padding: 10px;
    border: 1px solid $roster__border__color;

    &__header {
      @include flex(space-between);
      @include sizing(100%);

      &__info {
        @include flex(center, flex-start, column);
        @include sizing(100%, auto);
        gap: 1em;

        &__text {
          @include text($roster__text__color);
        }
      }
      &__image {
        display: flex;
        min-width: max-content;

        &__flag {
          @include sizing(38px, 24px);
          object-fit: cover;
          border-radius: 4px;
        }
      }
    }

    &__rosterImg {
      @include sizing(100%, 220px);
      object-fit: cover;
    }

    &__text {
      @include text($roster__text__color, 16px, center);
    }
  }
}
