@media screen and (min-width: 992px) {
  // Estilos NavBar
  .nav-item {
    padding: 0;
  }

  // Estilos para el index

  .section__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "area-5 area-6 area-6"
      "area-5 area-1 area-2"
      "area-3 area-3 area-4";
  }

  .section__description__container {
    margin-bottom: 32px;
  }

  .section__description__container__typing {
    font-size: 32px;
  }

  .section__description__text {
    font-size: 24px;
  }

  //Estilos para Equipo

  .teams {
    @include sizing(100%, 300px);
    @include flex(space-around, center, row);
    margin: 120px 0;
    padding: 0 1em;

    &__bar {
      @include sizing(380px);
      transform: rotate(45deg);
      border: 1px solid $roster__teams_colorBar;
    }

    &__btn {
      font-size: 28px;
      padding: 4px 16px;
      border-radius: 8px;
    }
  }

  .team__title {
    padding: 128px 0 32px 0;
  }

  .section__team {
    grid-template-columns: repeat(2, 520px);
    justify-content: space-around;
    gap: 32px;

    .section__team__card {
      @include flex(flex-start, center);
      @include sizing(100%, auto);

      &__header {
        @include flex(space-between, flex-start, column-reverse);
        @include sizing(100%, 280px);
      }
    }
  }

  // Estilos para Noticias
  .container__card {
    &__news {
      @include flex(space-between, center, row);

      &__image {
        object-fit: cover;
        max-width: 380px;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
      }

      &__content {
        @include flex(space-between, center, column);
        padding: 10px;
        width: 100%;
        height: 100%;

        &__btn {
          align-self: flex-end;
        }
      }
    }
  }

  // Estilos para Contacto

  .container__subscriber {
    height: 240px;

    &__title {
      font-size: 24px;
    }

    &__form {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 0;
      margin-top: 32px;

      &__inputText {
        width: 50%;
        border: none;
        border-bottom: 1px solid $border__color__default;
        background-color: transparent;
        font-size: 18px;
        outline: none;
        color: #fff;

        &::placeholder {
          color: #fff;
        }
      }

      &__containerSubmit {
        width: 20%;
      }
    }
  }

  .section {
    flex-direction: row;
    height: 400px;

    &__container {
      min-width: 40%;
      height: 360px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 0 32px;

      &__image {
        width: 400px;
      }
    }

    &__container__form {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;

      &__title {
        font-size: 24px;
        margin-bottom: 24px;
      }

      &__submit {
        display: flex;
        justify-content: center;
        width: 100%;

        &__btn {
          width: 100%;
          padding: 6px 0;
          background-color: transparent;
          border: 1px solid $border__color__default;
          border-radius: 6px;
          color: $text__color__default;
        }
      }
    }
  }

  // Estilos para sobre nosotros

  .aboutMe {
    flex-direction: row;

    &__picture {
      @include flex(space-around, center, column);

      &__container {
        @include flex(space-around, center, row);
        @include sizing(100%);

        &__image:first-child {
          @include sizing(260px, 100%);
        }

        &__image:last-child {
          @include sizing(400px, 100%);
        }
      }
    }
  }

  .aboutMe__section {
    margin-top: 1em;
  }

  // Estilos footer
  .footer {
    padding: 0 14%;
    flex-direction: row;
    @include sizing(100%, 100px);

    &__copyright {
      font-size: 20px;
    }

    .youtube:hover {
      color: #ff0000;
      transition: color 0.3s;
    }

    .twitter:hover {
      color: #4fb0ff;
      transition: color 0.3s;
    }

    .instagram:hover {
      color: #e1306c;
      transition: color 0.3s;
    }
  }
}

@media screen and (min-width: 1200px) {
  .section__container {
    &__image {
      width: 480px;
    }
  }
}
