@media screen and (min-width: 992px) {
  // Estilos para el index
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "area-5 area-6 area-6"
      "area-5 area-1 area-2"
      "area-3 area-3 area-4";
  }
  
    .hero {
      @include sizing(100%, 100vh);
      object-fit: cover;
    }

  //Estilos para Roster

  // Estilos para Noticias
  .card-custom {
    @include flex(space-between, center, row);
    align-items: center;
    border: none;

    .image-news {
      @include sizing(320px, 180px);
      margin-right: 0.5em;
    }

  }

  // Estilos para Contacto

  .container-form {
    .form {
      @include flex(space-between, center);

      .image-contact {
        @include sizing(18em, 100%);
      }

      .container-contact {
        max-width: 75%;
        margin-left: 2em;
      }
    }
  }

  // Estilos para sobre nosotros
  .image-about-me {
    width: 18em;
    height: auto;
  }

  // Estilos footer
  .footer {
    padding: 0 14%;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  // Estilos Pagina Noticias
  .card-custom:hover {
    outline: 1px solid $white;
  }
  // Fin estilos Pagina Noticias
}
