.card-custom {
  @include flex(flex-start, center, column);
  width: 100%;
  min-height: 300px;
  margin-bottom: 3em;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid $white;

  .image-news {
    @include sizing(100%, 100%);
    border-radius: 15px;
    margin-bottom: 1em;
  }

  .text-date {
    color: $grey;
  }
}