.image-about-me {
  @include sizing(14em, 100%);
}

.text-about-me {
  font-size: 1em;
}

.input {
  @include text($white, 18px);
  background-color: transparent;
  padding-left: 5px;
  width: 100%;

  &::placeholder {
    color: $white;
  }

  &:focus {
    outline: none;
  }
}

.input-submit {
  @include text($white, 18px);
  background-color: transparent;
  margin-top: 16px;
  text-align: center;
}

.section-suscribers {
  @include flex(center, center, column);
  @include sizing(100%, 500px);

  .text-about {
    @include text($white, 1.8em, center);
  }

  .form-about {
    @include sizing(100%, 150px);
    @include flex(space-around, center, column);
    margin-top: 60px;

    .input-about {
      @extend .input;
      width: 100%;
      border: none;
      border-bottom: 1px solid $white;
    }

    .container-submit-about {
      @include sizing(100%);

      .submit-about {
        @extend .input-submit;
        @include sizing(100%);
        padding: 10px 0;
        border-radius: 6px;
        border: 1px solid $white;

        &:hover {
          background-color: $black;
        }
      }
    }
  }
}
