.aboutMe {
  @include flex(flex-start, center, column);

  &__picture {
    @include flex(flex-start, center, column);
    @include text($text__color__default, 32px);
    @include sizing(100%);
    margin-bottom: 64px;

    &__container {
      @include flex(flex-start, center, column);

      &__image {
        @include sizing(240px, 100%);
        object-fit: cover;
      }

      &__image:last-child {
        @include sizing(100%, 100%);
      }
    }
  }
}

.wrapper {
  margin: 64px 0;

  &__aboutMe__section {
    background-color: $bg__cards;
    border-radius: 1em;
    padding: 1em;
    margin: 32px 0;

    &__title {
      @include text($text__color__default, 32px, center);
    }

    &__text {
      @include text($text__color__default, 20px);
    }
  }
}
