.image-about-me {
  width: 100%;
  height: 100%;
}

.input {
  @include text($white, 18px);
  background-color: transparent;
  padding-left: 5px;
  width: 100%;

  &::placeholder {
    color: $white;
  }

  &:focus {
    outline: none;
  }
}

.input-submit {
  @include text($white, 18px);
  margin-top: 16px;
  background-color: transparent;
  text-align: center;
}

.section-suscribers {
  @include flex(center, center, column);
  height: 500px;
  // background-color: $pink;

  .text-about {
    @include text($white, 1.8em, center);
  }

  .form-about {
    @include sizing(100%, auto);
    @include flex(center, center, column);

    .input-about {
      @extend .input;
      width: 100%;
      border: none;
      border-bottom: 1px solid $white;
    }

    .container-submit-about {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .submit-about {
        @extend .input-submit;
        @include sizing(25%, auto);
        border-radius: 6px;
        border: 1px solid $white;

        &:hover {
          background-color: $black;
        }
      }
    }
  }
}
