.card-custom {
  @include flex(flex-start, center, column);
  width: 100%;
  min-height: 300px;
  margin-bottom: 32px;
  border-radius: 1em;
  padding: 10px;
  border: 1px solid $white;

  .card-custom-header {
    display: flex;
    @include sizing(100%);
    justify-content: space-between;
  }

  .card-custom-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include sizing(min-width, 150px);


    .card-custom-logo {
      @include sizing(64px) 
    }
  }
  .card-custom-image {
    display: flex;
    min-width: max-content;

    .flag {
      @include sizing(36px, 19px);
      object-fit: cover
    }
  }

  .card-custom-image-logo {
    @include sizing(26px);
  }

  .roster-image {
    @include sizing(100%, 220px);
    object-fit: cover;
  }
}