.footer {
  background-color: $bg-dark;

  .icon {
    width: 40px;
    margin: 0 15px;
  }

  .copyright {
    padding: 20px 0;
    border-top: 1px solid #fff;
    margin-bottom: 0;
    text-align: center;
  }
}
