.footer {
  position: static;
  bottom: 0;
  @include flex(space-between, center, column);
  @include sizing(100%, 140px);
  background-color: $footer__background;
  align-self: flex-end;
  font-family: $footer__font;

  &__copyright {
    @include text($text__color__default, 1em, center);
    padding: 4px 8px;
    margin: 0;
  }

  &__icons {
    @include sizing(18%, 100%);
    @include flex(space-around, center);

    &__icon {
      @include text($text__color__default, 28px);
      padding: 0 20px;
    }
  }
}
