.footer {
  @include flex(space-between, center, column);
  @include sizing(100%, 140px);
  background-color: $bg-dark;
  align-self: flex-end;

  .container-icons {
    @include sizing(18%, 100%);
    @include flex(space-around, center);

    .icon {
      @include text($white, 28px);
      padding: 0 20px;
    }
  }

  .copyright {
    @include text($white, 1em, center);
    padding: 4px 8px;
    margin: 0;
  }
}
