.navbar {
  @include sizing(100%, $nav__height);
  background-color: $nav__background;

  .logo {
    @include sizing(2.5em, 100%);

    &:hover {
      transform: scale(1.1);
      transition: transform .3s;
    }
  }

  .nav-item {
    font-size: 16px;
    margin-left: 5px;
    padding: 0 8px;
    font-weight: 700;
    font-family: $nav__font;
    text-transform: uppercase;

    &:hover {
      outline: 2px solid $nav__outlineColor;
      border-radius: 10px;
    }
  }
}
