@mixin sizing($w, $h: auto) {
  width: $w;
  height: $h;
}

@mixin flex($justify, $align: flex-start, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin text($color, $size: 16px, $align: start) {
  color: $color;
  font-size: $size;
  text-align: $align;
}