// Google font Cinzel Decorative y Noto Sans RobotoMono
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Noto+Sans+JP&family=Roboto+Mono:wght@600;700&display=swap');

//Fuentes 
$Cinzel-Decorative: 'Cinzel Decorative';
$Noto-Sans-JP: 'Noto Sans JP';
$Roboto-Mono: 'Roboto Mono';

//Paleta de colores
$white: #FFFFFF;
$black: #000000;
$grey: #dee2e6;
$grey-light: #ffffff66;
$bg-dark: #000000cc;
$purple: #6900b6b4;
$light-purple: #c21dfdb1;
$pink: #f85783;
 