// Google font Noto Sans y RobotoMono
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Mono:wght@600;700&display=swap');

$bg__cards: #c21dfdb1;
$nav__background: #000000cc;
$nav__font: "Arial, Helvetica, sans-serif";
$nav__outlineColor: #ffffff;
$nav__height: 80px;
$headline__color: #ffffff;
$headline__size: 42px;
$index__typingFont: "Roboto Mono";
$index__arrowColor: #ffffff;
$index__descriptionColor: #000000;
$roster__teams_colorBar: #ffffff;
$roster__text__color: #ffffff;
$roster__border__color: #ffffff;
$noticias__text__color: #ffffff;
$noticias__borderColor: #ffffff;
$noticias__btn__color: #ffffff;
$noticias__borderColor__btn: #ffffff;
$footer__background: #000000cc;
$footer__font: "Noto Sans JP";
$bg-gradient-color1: #6900b6b4;
$bg-gradient-color2: #c21dfdb1;
$bg-gradient-color3: #f85783;
$scroll-up__background: #000000cc;
$scroll-up__backgroundAct: #c21dfdb1;
$text__color__default: #FFFFFF;
$border__color__default: #FFFFFF;
